.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100%;
  max-width: 90vh;
  background-color: #282c34;
  /* min-height: 8vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-body {
  width: 100%;
  max-width: 90vh;
  background-color: #ffffff;
  min-height: 8vh;
}

.App-main{
  width: 100%;
  background-color: #ffffff;
  max-width: 90vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
