/* PlaceInfo.css */
.place-info {
  display: block;
  width: 100%;
  background-color: #ffffff;
  padding: 0.5vh;
  padding-top: 0;
  text-align: left;
  box-sizing: border-box;
}

.place-title {
  margin-bottom: 0.5vh;
}

.place-body {
  margin-bottom: 5vh;
}

.place-name {
  font-size: 2.5vh;
  color: #333;
  font-weight: bold;
  margin: 0;
}

.place-type {
  font-size: 2vh;
  color: #8E8E93;
  margin: 0;
}

.google-maps-link{
  height: 3.5vh;
  display: inline-flex;
  align-items: center;
  border: 0.1vh solid #a7a7a7; /* Border color */
  color: #007bff;
  background-color: #fff;
  padding: 0vh 1.5vh;
  text-decoration: none;
  border-radius: 1vh;
  font-size: 1.5vh;
  font-weight:500;
}

.google-maps-link img{
  width:auto;
  height:2vh;
  margin-right: 1vh;
}

.place-description {
  margin-top: 1.5vh;
  font-size: 1.8vh;
  color: #333;
}

.place-info-end-line {
  width: 20%;
  margin: 5vh auto;
  height: 0.2vh;
  background-color: #ccc;
  /* Color of the subtle grey line */
}