
.collection-page-header{
  position: relative;
  background-color: white;
}

.collection-page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding:2.5vh;
  padding-top:1.5vh ;
  background-color: white;
}

.collection-page-user-block{
    padding:2.5vh;
    padding-bottom:1.5vh;
    padding-left:3vh;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
    margin-bottom: 3vh;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
}

.collection-page-component{
  height:100vh;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax-background-element {
  /* -webkit-transform: translateZ(-1px) translateX(50%) translateY(50%)scale(2); */
  position: relative;
  height:50vh;
  width:100%;
  background-color: rgb(190, 190, 190);
  transform: translateZ(-1px) translateY(-25vh) scale(2);
  z-index: -5;
  width:100%;
  /* to center image */
  display: flex;
  align-items: center;
  justify-content: center;
}


.parallax-background-element img{
  height:100%;
}

/* Media query for screens 641px or larger */
@media (orientation: portrait) and (min-height: 641px){
    .App {
      height: 640px;
      margin: auto;
    }
  }

@media (orientation: portrait) and (max-width: 280px) {
    .App {
      width: 281px;
      height:100%;
      margin: auto;
    }
  }

@media (orientation: landscape) {
    .App {
      width: 40%;
      margin: auto;
    }
}