.collection-page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    box-sizing: border-box;
    padding:2.5vh;
    padding-top:1.5vh ;
}

.collection-page-user-block{
    padding:2.5vh;
    padding-bottom:1.5vh;
    padding-left:3vh;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
    margin-bottom: 3vh;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
}

/* Media query for screens 641px or larger */
@media (orientation: portrait) and (min-height: 641px){
    .App {
      height: 640px;
      margin: auto;
    }
  }

@media (orientation: portrait) and (max-width: 359px) {
    .App {
      width: 360px;
      height:100%;
      margin: auto;
    }
  }

@media (orientation: landscape) {
    .App {
      width: 40%;
      margin: auto;
    }
}